 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Find your Future Job</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
  </head>
  
  <body style="background-color:powderblue;">
    <div class="container-fluid">
      <center><h1>Job Finder</h1></center>
      <h3>Enter in the following information to find possible jobs that fit you!</h3>
      
      <form method="post" action="/result">
        Keyword:<input type="text" name="keyword"><br>
        <br>
        Location:<input type="text" name="location"><br>
        <br>
        Sort:<input type="text" name="sort"><br>
        <br>
        Page:<input type="text" name="page"><br>
        <br>
        <input type="submit" value="Submit">
      </form>
    </div>
  </body>
</html>
